.content-pad {
	padding:10px;
	max-width: 300px;
	margin:auto;
	margin-top: 50px;
}

.center {
	text-align:center;
}

.pad-top {
	padding-top:15px;
}

.btn-half {
	width:48%;
}

.btn-container {
	text-align: center;
	margin:auto;
}

.guest-list {
	margin-left:0;
	padding-left:0;
}

.guest-list li {
	list-style: none;
	color:#333;
	font-size: 16px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 7px;
	background-color: #dedbdb;
}

.guest-list li:hover, .start-over:hover {
	cursor:pointer;
}

.guest-list li div {
	line-height: 35px;
	height: 35px;
}

.well h2, .well h3 {
	padding-bottom: 20px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 20px;
}

.well {
	padding:0;
	position:relative;
}

.rsvp-check {
	border-right: 1px solid #ccc;
	padding-right:10px;
	padding-left:10px;
	margin-right:10px;
}

.error-container {
	min-height: 50px;
}

.main-container {
	padding-bottom:0;
}

.padder {
	padding:10px;
}

.alert {
	margin:0;
}

.start-over {
	position:absolute;
	right: 14px;
	top: 52px;
}