<h2 class="center">Who's Coming?</h2>
<div ng-show="!addGuest">
	<ul class="guest-list">
		<li ng-repeat="guest in rsvp.group.guests" class="clearfix" ng-click="guest.is_attending = !guest.is_attending">
			<div class="pull-left rsvp-check">
				<input type="checkbox" ng-checked="$index == 0 || guest.is_attending" ng-model="guest.is_attending" />
			</div>
			<div class="pull-left">
				{{ guest.first_name }} {{ guest.last_name }}
			</div>
		</li>
	</ul>

	<div ng-show="showExtra" class="padder guest-item-canvas blue-bg">

		<div ng-show="showShuttle" class="extra-selector">
			<span>Shuttle Service</span>
			<p>
				Chris and Ava are offering shuttle services to and from the wedding.
				If you are staying in the downtown Seattle area, please indicate
				how many in your party would be interested.
				(<a href="{{ shuttleLink }}">More Details</a>).
			</p>
			<select class="shuttle-select"
				ng-model="rsvp.group.shuttle_count"
				ng-options="value as value for value in extraOpts">
				<option value="">Not Interested</option>
			</select>
		</div>

		<div ng-show="showDinner" class="extra-selector canvas-divider">
			<span>Friday Reception</span>
			<p>
				There will be a reception on Friday night and you're invited!
				Please indicate how many in your party will be attending.
			</p>
			<select class="shuttle-select"
				ng-model="rsvp.group.dinner_count"
				ng-options="value as value for value in extraOpts">
				<option value="">Not Interested</option>
			</select>
		</div>
	</div>

	<div class="center">
		<button class="btn btn-primary btn-half" ng-click="doRsvp()">
			RSVP
		</button>

		<button class="btn btn-default btn-half" ng-click="addGuest = true">
			Add Guest
		</button>
	</div>
</div>

<div ng-show="addGuest">
	<p><input type="text" class="form-control" ng-model="newGuest.first_name" placeholder="First Name" /></p>
	<p><input type="text" class="form-control" ng-model="newGuest.last_name" placeholder="Last Name" /></p>

	<div class="center">
		<button class="btn btn-primary btn-half" ng-click="saveGuest()">Add Guest</button>
		<button class="btn btn-default btn-half" ng-click="addGuest = false">Cancel</button>
	</div>
</div>